body{
    background-color: #e5e5e5;
}

.nav-link::after,
a.nav-link::after{
    border-bottom: 2px solid var(--color-icon-nav-active);
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
    width: 100%;

}


.toggle-path {
    transition: all 0.3s ease-in-out;
}
.toggle-circle {
    top: 0.4rem;
    left: 0.25rem;
    transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle-circle {
    transform: translateX(100%);
}
input:checked ~ .toggle-path {
    background-color:#0F1E7A;
}